.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 15vh;
    transform: translateY(65vh);
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
