.app-user {
    display: flex;
    align-items: center;
    justify-content: end;
    &__user-name {
        margin: 1em;
    }
    &__image {
        border-radius: 50%;
        width: 2.43rem;
        height: 2.43rem;
    }
}
